.vscode
data/*

!data/certbot/
data/certbot/*
!data/certbot/.gitkeep

!data/certs/
data/certs/*
!data/certs/.gitkeep

!data/tracker/
data/tracker/*
!data/tracker/config/
data/tracker/config/*
!data/tracker/config/.gitkeep

!data/tracker/logs/
data/tracker/logs/*
!data/tracker/logs/.gitkeep

!data/zen/
data/zen/*
!data/zen/zen.conf

!data/zen-params/
data/zen-params/*
!data/zen-params/.gitkeep
docs